.btnn {
  text-transform: uppercase;
  color: #000;
  transition: all 0.3s ease 0s;
  border-radius: 45px;
  cursor: pointer;
  background: #E53D00;
  padding: 10px 52px;
  margin-right: 50px;
  }

  .btnn:hover {
    color: black;
    background-color: #FFE900;
}